[submodule "mb_tests/mb_tests/modules/ftrack/connect/ftrack-connect-maya"]
	path = mb_tests/mb_tests/modules/ftrack/connect/ftrack-connect-maya
	url = https://borbs727@bitbucket.org/ftrack/ftrack-connect-maya.git
[submodule "mb_tests/mb_tests/modules/ftrack/pythonpath/ftrack-python-api"]
	path = mb_tests/mb_tests/modules/ftrack/pythonpath/ftrack-python-api
	url = https://borbs727@bitbucket.org/ftrack/ftrack-python-api.git